
@media screen and (max-width: 1280px){
	.logo{
		margin-left: 2%;
	}

}

@media screen and (max-width: 1035px){
	.logo{
		display: none;
	}


@media screen and (max-width: 900px){
	h1 {
	text-align: center;
	font-size: 200%;
	margin-top: 200px;	
	text-transform: uppercase;
	position: relative;
	letter-spacing: 0.06em;
	}
}
@media screen and (max-width: 857px){

	ul{
		width: 100%;
	}
	
	 li a{
		width: auto;
		padding-right: 2%;
		}
}

@media screen and (max-width: 675px){
	.show-menu {
		display:none;
	}
	.menu>a{
		display: none;
		float: right;
		font-size: 10px;
		height: 40px;
		width: 100%;
	}
	
@media screen and (max-width: 600px){

	h1 {
	text-align: center;
	font-size: 120%;
	margin-top: 200px;	
	text-transform: uppercase;
	position: relative;
	letter-spacing: 0.06em;
	}
}




@media screen and (max-width: 575px){
	.show-menu {
		display:block;
	}
	#header{
		height: 544px;


	}
}



@media screen and (max-width: 517px){
	.show-menu {
		display:block;
		
	}

@media screen and (max-width: 432px){

.show-menu {
		display:block;
	}
	.menu{
		display: none;
		float: right;
		height: 35px;
	}

	a{
		font-size: 16px;
	}
}	