*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

#header{
	width: 100%;
	height: 694px;
	color: white;
	border-top: 0.01px solid ;
	background: url(images/cover1.jpg);
	background-size: cover;
}

h1
{	
	width: 100%;
	text-align: center;	
	text-transform: uppercase;
	letter-spacing: 0.06em;
}

h1 > span{
	font-size: 1.3em;
	display: inline-block;
	margin: auto;
	margin-top: 250px;
	padding: 10px 0px 10px 0px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

.l{
	margin-top: 10px;
}

.l a {
	text-align: center;
	text-decoration: none;
	display: block;
	width: 142px;
	padding: 12px;
	font-size: 1.3em;
	margin: 0 auto;
	color: white;
	border: 3px solid white;
}

.l > a:hover{
	color: white;
	background: black;	
	border: 2px solid white;
}

/* ASCUNDE  */

.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 11px 0;
	display: none;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ .main-nav{
    display: block;
}

/*  MENIUL!!!     */  
nav{
	background-color: #252e30;
}

.name, .main-nav li{
	text-align: center;
	background-color: #252e30;
	margin-top: 8px;
	margin-bottom: 6px;
}

.main-nav a, .name a{
		font-size: .95em;
		color: white;
		text-transform: uppercase;
}

.main-nav a:hover{
	color: green;
}

.main-nav a{

		padding:5px 15px;
		display: block;
}

.name a, {
		padding: 5px 15px;
		display: block;
}

.col{
	padding-left: .7em;
	padding-top: 1em;
}

/*
.container{
padding-left:1em;
padding-right: 1em;
*/




@media (max-width: 671px) {
	

	.show-menu{
		display: block;
	}

	.main-nav{
		display: none;
	}

	.name{
		margin: 0;
	}

}

@media (min-width: 672px) {
	.name, .main-nav, .main-nav li {
	display: inline-block;
	}

	.main-nav{
	float: right;
}

	.container{
	width: 78%;
	margin: 0 auto;
}

	.wraper{
	width: 80%;
	margin: 30px auto;
	padding-left: 1em;
	padding-right: 1em;
}

.col{
	display: inline-block;
	width: 33.3333%;
	margin-right: -5px; 
	vertical-align: top;
	margin-top: 40px;
	padding-left: 1em;
	padding-right:1em;
}
















/*
nav{
	width: 100%;
	height: 41px;
	background-color: #252e30;
}



.menu {
	list-style-type: none;
	float: right;
	background-color: #252e30;
	padding-right: ;
}

.menu li {
	display:inline-block;
}

li a {
	display: block;
	padding: 8px;
}

li > a:hover{
	color: green;

}

.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 11px 0;
	display: none;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox]:checked ~.menu{
    display: block;
}

.logo{
	font-family: sans-serif;
	display: inline;
	float: left;
	margin-top: 6px;
	margin-left: 10%;
	color: white;
}

#container {
	width: 100%;
}

.articles{
	width: 100%;
	background-color: white;
 }

.articles > article {
	display: block;
	width: 80%;
	margin: 5px auto;
	padding-top: 20px;
	padding-bottom: 20px;	
	font-size: 1.2em;
	background-color: white;
}
	
